# Environment & Secrets
.env
*.pem

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Temp files
fix_deploy.sh
test.py
